/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== CLASE UTIL (CORREGIDA) ===== */
#book-form.hidden {
  display: none;
}

/* ===== BODY ===== */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
}

/* ===== HEADER ===== */
.header {
  text-align: center;
  background-color: burlywood;
  padding: 20px;
}

.header-text {
  margin-top: 10px;
  font-size: 14px;
}

/* ===== SECCIÓN NUEVO LIBRO ===== */
.newbook-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  gap: 10px;
}

.button-text {
  font-size: 14px;
}

/* ===== BOTÓN ===== */
#new-book-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background-color:brown;
  font-size: 14px;
  border: none;
  cursor: pointer;
  color: white;
}

#new-book-btn:hover {
  background-color: rgb(159, 65, 65);
}

/* ===== FORMULARIO ===== */
#book-form {
  background-color: white;
  margin-top: 15px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 280px;
}

/* Inputs */
#book-form input[type="text"],
#book-form input[type="number"] {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Checkbox */
.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

/* Botón formulario */
#book-form button {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background-color: burlywood;
  cursor: pointer;
  font-weight: bold;
}

#book-form button:hover {
  background-color: peru;
}

/* ===== LIBRERÍA ===== */
#library {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* ===== TARJETAS ===== */
.card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}